section.contact{
    &>div{
        padding-top: 4em;
    }
    &.black-bg{
        background-color: $black;
        color: $white;
        a{
            color: $white;
        }

        h2{
            font-size: 28px;
            margin-bottom: 50px;
        }

        h2, p{
            margin-top: 0;
        }
    }
}