section.posts-grid{
    &.grid > div{
        @media screen and (min-width: $tablet-BP){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}