<section class="about-me">
    <div>
        <div class="media">
            <div class="photo">
                <img src="../../assets/img/photo.jpg" alt="">
            </div>
            {% include './fragments/social-icons.html' %}
        </div>
        <div class="info">
            <h3 class="name">Anuar Reyes</h3>
            <h2 class="title">Hi! 👋🏼I'm Anuar <br>
            a Developer based in Mexico City 🇲🇽
            </h2>
            <p>Donec elementum dictum ipsum, eget vestibulum quam sagittis a. Aenean tincidunt leo quis diam pellentesque, eu congue arcu semper. In leo diam, posuere fringilla sagittis eget, bibendum in nisl. Sed purus arcu, ultricies eu quam vel, sagittis varius purus.</p>

            <p>Nulla elementum pharetra nisi, feugiat dignissim nibh convallis eu. Suspendisse aliquet efficitur elementum. Cras ultricies pulvinar tortor. Quisque eros urna, mattis a odio sit amet.</p>

            <ul>
                <li>
                    <h3 class="skill">⚡️ Donec elementum dictum</h3>
                </li>
                <li>
                    <h3 class="skill">🔥 Donec elementum dictum</h3>
                </li>
                <li>
                    <h3 class="skill">⚡️ Donec elementum dictum</h3>
                </li>
                <li>
                    <h3 class="skill">🔥 Donec elementum dictum</h3>
                </li>
            </ul>

            <a href="#" class="work">Let's work</a>
        </div>
    </div>
</section>