/*----------------------------------------------------------------*\
		MAIN FOOTER
\*----------------------------------------------------------------*/footer{
	background: $black;
	p{
		color: $white;
		margin: 0;
		font-weight: 500;
		font-size: 13px;
		text-align: center;
	}
}


