{% set authorPhoto = siteAuthor.profilePicture.one().url() %}
<div class="author">
    <div class="photo">
        <img src="{{ authorPhoto }}" alt="">
    </div>
    <div class="bio">
        <a href="#"><h3>Sobre mí</h3></a>
        <p>{{ siteAuthor.authorBio }}</p>
    </div>
    <div class="social">
        <a href="{{ siteAuthor.instagramAuthor }}" target="_blank">
            <img src="../../assets/img/ig.svg" alt="">
        </a>
        <a href="{{ siteAuthor.linkedinAuthor }}" target="_blank">
            <img src="../../assets/img/in-black.svg" alt="">
        </a>
        <a href="{{ siteAuthor.githubAuthor }}" target="_blank">
            <img src="../../assets/img/github.svg" alt="">
        </a>
    </div>
</div>