<article class="post-card">
    <a href="/article"><h2>Nullam mauris ante, efficitur eget purus nec, vehicula commodo sem</h2></a>
    <p><span>Author: </span> Anuar</p>
    <p><span>Date: </span> 26.12.2020 | 20.56</p>
    <p>Quisque dui eros, dapibus vitae rutrum sed, finibus non dolor. Praesent rutrum sapien vel dolor feugiat, in semper risus condimentum. Mauris dolor sem, rutrum condimentum lorem eu, volutpat viverra arcu. Sed eleifend accumsan volutpat. Aliquam sapien diam...</p>

    <a href="/article">Read more...</a>
</article>